<style>
  .alert-error { color: red }
  .form-group { margin-bottom: 30px }
</style>
<%= form_with(model: task, local: true) do |f| %>
  <div class="form-group">
    <%= f.label :title , class: 'form-label' %>
    <%= f.text_field :title, class: 'form-control' %>
    <%= render "layouts/error_messages", model: task, attribute: :title %>
  </div>
    <div class="form-group">
    <%= f.label :priority, class: 'form-label' %>
    <%= f.select :priority, [['低', '低'], ['中', '中'], ['高', '高']], { include_blank: false, selected: 0 }, class: 'form-select' %>
    <%= render "layouts/error_messages", model: task, attribute: :priority %>
  </div>
  <div class="form-group w-25">
    <%= f.label :deadline_on, class: 'form-label'  %>
    <%= f.date_field :deadline_on, class: 'form-control datetimepicker-input' %>
    <%= render "layouts/error_messages", model: task, attribute: :deadline_on %>
  </div>
  <div class="form-group">
    <%= f.label :status, class: 'form_label'  %>
    <%= f.select :status, [['未着手', '未着手'], ['着手中', '着手中'], ['完了', '完了']], { include_blank: false, selected: 0 }, class: 'form-select' %>
    <%= render "layouts/error_messages", model: task, attribute: :status %>
  </div>
  <div class="form-group">
    <%= f.label :description, class: 'form_label'  %>
    <%= f.text_area :description, class: 'form-control' %>
    <%= render "layouts/error_messages", model: task, attribute: :description %>
  </div>
  <div class="form-group">
    <%= f.submit "送信", class: "btn btn-primary" %>
  </div>
<% end %>
