<style>
  a.link_disabled { pointer-events: none; text-decoration: none; color: black }
  a.link_enabled { color: silver }
  .index-header { display: flex }
  input, select, a { margin: 10px 0px }
</style>

<h1>タスク一覧</h1>
<div class="index-header">
  <div class="col-sm-9">
    <%= form_with(url: tasks_path, method: :get, local: true) do |f| %>
      <%= f.text_field :title_term, :value => params[:title_term], class: 'col-sm-3' %>
      <%= take_params_hidden_field_tags(submit_key: 'title_term') %>
      <%= f.submit 'タスク名で検索', class: 'col-sm-4' %>
    <% end %>
    <%= form_with(url: tasks_path, method: :get, local: true) do |f| %>
      <%= f.select :status_term, [['---', '---'], ['未着手', '未着手'], ['着手中', '着手中'], ['完了', '完了']], { selected: params[:status_term] }, class: 'col-sm-3' %>
    <%= take_params_hidden_field_tags(submit_key: 'status_term') %>
      <%= f.submit 'ステータスで検索', class: 'col-sm-4' %>
    <% end %>
    <%= form_with(url: tasks_path, method: :get, local: true) do |f| %>
      <%= f.select :priority_term, [['---', '---'], ['低', '低'], ['中', '中'], ['高', '高']], { selected: params[:priority_term] }, class: 'col-sm-3' %>
      <%= take_params_hidden_field_tags(submit_key: 'priority_term') %>
      <%= f.submit '優先順位で検索', class: 'col-sm-4' %>
    <% end %>
    <%= link_to 'リセット', tasks_path, class: 'btn btn-secondary' %>
  </div>
  <p class="text-end col-sm-3"><%= link_to '新規作成', new_task_path, class: 'btn btn-primary' %></p>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col"><%= Task.human_attribute_name(:title) %></th>
      <th scope="col">
        <%= Task.human_attribute_name(:priority) %>
        <% unless params[:sort_priority] == 'asc' %>
          <%= generate_sort_param('priority', 'asc') %>
        <% end %>
        <% unless params[:sort_priority] == 'desc' %>
          <%= generate_sort_param('priority', 'desc') %>
        <% end %>
      </th>
      <th scope="col">
        <%= Task.human_attribute_name(:deadline_on) %>
        <% unless params[:sort_deadline_on] == 'asc' %>
          <%= generate_sort_param('deadline_on', 'asc') %>
        <% end %>
        <% unless params[:sort_deadline_on] == 'desc' %>
          <%= generate_sort_param('deadline_on', 'desc') %>
        <% end %>
      </th>
      <th scope="col"><%= Task.human_attribute_name(:status) %></th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.title %></td>
        <td><%= task.priority %></td>
        <td><%= task.deadline_on %></td>
        <td>
          <%= generate_status_link('未着手', task) %>
          <%= generate_status_link('着手中', task) %>
          <%= generate_status_link('完了', task) %>
        </td>
        <td><%= link_to '詳細', task_path(task.id, take_params) %></td>
        <td><%= link_to '編集', edit_task_path(task, take_params) %></td>
        <td><%= link_to '削除', task, method: :delete, data: { confirm: t('popup.confirm') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @tasks %>
