<style>
  table, td, th { border: 1px black solid }
  a.link_disabled { pointer-events: none; text-decoration: none; color: black }
  a.link_enabled { color: silver }
</style>

<h1>タスク一覧</h1>
<p><%= link_to '新規作成', new_task_path %></p>


<%= form_with(url: tasks_path, method: :get, local: true) do |f| %>
  <%= f.hidden_field :deadline_on, :value => params[:deadline_on] %>
  <%= f.hidden_field :status_term, :value =>  params[:status_term] %>
  <%= f.text_field :title_term, :value => params[:title_term] %>
  <%= f.submit 'タスク名で検索' %>
<% end %>
<%= form_with(url: tasks_path, method: :get, local: true) do |f| %>
  <%= f.hidden_field :deadline_on, :value => params[:deadline_on] %>
  <%= f.hidden_field :title_term, :value =>  params[:title_term] %>
  <%= f.select :status_term, [['---', '---'], ['未着手', '未着手'], ['着手中', '着手中'], ['完了', '完了']], { selected: params[:status_term] } %>
  <%= f.submit 'ステータスで検索' %>
<% end %>
<%= link_to 'リセット', tasks_path %>

<table>
  <thead>
    <tr>
      <th><%= Task.human_attribute_name(:title) %></th>
      <th>
        <%= Task.human_attribute_name(:priority) %>
        <% unless params[:priority] == 'asc' %>
          <%= sort_column('priority', 'asc') %>
        <% end %>
        <% unless params[:priority] == 'desc' %>
          <%= sort_column('priority', 'desc') %>
        <% end %>
      </th>
      <th>
        <%= Task.human_attribute_name(:deadline_on) %>
        <% unless params[:deadline_on] == 'asc' %>
          <%= generate_sort_param('deadline_on', 'asc') %>
        <% end %>
        <% unless params[:deadline_on] == 'desc' %>
          <%= generate_sort_param('deadline_on', 'desc') %>
        <% end %>
      </th>
      <th><%= Task.human_attribute_name(:status) %></th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.title %></td>
        <td><%= task.priority %></td>
        <td><%= task.deadline_on %></td>
        <td>
          <%= generate_status_link('未着手', task) %>
          <%= generate_status_link('着手中', task) %>
          <%= generate_status_link('完了', task) %>
        </td>
        <td><%= link_to '詳細', task %></td>
        <td><%= link_to '編集', edit_task_path(task) %></td>
        <td><%= link_to '削除', task, method: :delete, data: { confirm: t('tasks.data.confirm') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
