<style>
  .col-sm-3, .col-sm-9 { margin-bottom: 15px; padding: 5px }
  .btn { margin-bottom: 15px}
  .label-span { border: 1px solid; padding: 5px; border-radius: 5px }
</style>

<h1>タスク詳細</h1>
<dl class="row">
  <dt class="col-sm-3 bg-light"><%= Task.human_attribute_name(:title) %></dt>
  <dd class="col-sm-9"><%= @task.title %></dd>
  <dt class="col-sm-3 bg-light"><%= Task.human_attribute_name(:priority) %>
  <dd class="col-sm-9"><%= @task.priority %></dd>
  <dt class="col-sm-3 bg-light"><%= Task.human_attribute_name(:deadline_on) %></dt>
  <dd class="col-sm-9"><%= @task.deadline_on %></dd>
  <dt class="col-sm-3 bg-light"><%= Task.human_attribute_name(:labels) %></dt>
  <dd class="col-sm-9">
    <% @task.labels.each do |label| %>
      <span class="label-span"><%= label.name %></span>
    <% end %>
  </dd>
  <dt class="col-sm-3 bg-light"><%= Task.human_attribute_name(:description) %></dt>
  <dd class="col-sm-9"><%= @task.description %></dd>
</dl>
<%= link_to '編集する', edit_task_path(@task, take_params), class: 'btn btn-primary' %>
<br>
<%= link_to "戻る", :back, class: 'btn btn-info' %>
