<h1>タスク詳細</h1>
<p>title: <%= @task.title %></p>
<p>deadline: <%= @task.deadline %></p>
<p>description: <%= @task.description %></p>

<%= link_to '編集する', edit_task_path(@task) %>
<br>
<%= link_to "戻る", tasks_path %>
