<h1>ラベル一覧</h1>

<%= render 'form', label: @label %>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col"><%= Label.human_attribute_name(:name) %></th>
    </tr>
  </thead>
  <tbody>
    <% @labels.each do |label| %>
      <tr>
        <td><%= label.name %></td>
        <td><%= link_to '編集', edit_label_path(label) %></td>
        <td><%= link_to '削除', label, method: :delete, data: { confirm: t('popup.confirm') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

