<style>
.col-sm-3, .col-sm-9 { margin-bottom: 15px; padding: 5px }
.btn { margin-bottom: 15px}
a.link_disabled { pointer-events: none; text-decoration: none; color: black }
a.link_enabled { color: silver }
</style>

<h1>ユーザー詳細</h1>
<dl class="row">
  <dt class="col-sm-3 bg-light"><%= User.human_attribute_name(:name) %></dt>
  <dd class="col-sm-9"><%= @user.name %></dd>
  <dt class="col-sm-3 bg-light"><%= User.human_attribute_name(:email) %></dt>
  <dd class="col-sm-9"><%= @user.email %></dd>
  <dt class="col-sm-3 bg-light">タスク数</dt>
  <dd class="col-sm-9"><%= @user.tasks.count %></dd>
</dl>

<%= link_to "戻る", tasks_path, class: 'btn btn-info' %>
<%= link_to '編集', edit_user_path(@user), class: 'btn btn-primary' %>
<%= link_to '削除', current_user, method: :delete, data: { confirm: t('popup.confirm') }, class: 'btn btn-danger' %>
